$white: #ffffff;
$black: #000000;

$gray-lighter: #f4f5f7;
$gray-light: #d9dce0;
$gray-lightsecon-dary: #afb6bd;
$gray-secondary: #858f9c;
$gray-secondary-dark: #606975;
$gray-dark: #3d434a;
$gray: #1a1d20;

$primary-secondary: #5096ed;
$primary-secondary-dark: #326edc;
$primary-dark: #1a2658;
$primary: #3155c9;

$success-secondary: #add9c1;
$success-secondary-dark: #6bda99;
$success-dark: #0b9867;
$success: #13b57d;

$warning-secondary: #f5d7a6;
$warning-secondary-dark: #f5ba5d;
$warning-dark: #b97d0f;
$warning: #ffa900;

$danger-secondary: #de9790;
$danger-secondarydark: #dd584d;
$danger-dark: #a32018;
$danger: #d62e21;
