@import '~griza-styles/guide';

.div-header {
  opacity: 0.9;

  nav {
    background-color: $gray-dark !important;
    padding-left: 1rem;
    padding-right: 1rem;

    #navbarTogglerMenu {
      ul {
        margin-right: 1rem;
      }
    }

    a {
      color: $gray-light !important;
    }
  }
}
