@import '~griza-styles/guide';

.div-header {
  background-color: $gray-light;
  opacity: 0.5;

  nav {
    padding-left: 1rem;
    padding-right: 1rem;

    #navbarTogglerMenu {
      ul {
        margin-right: 1rem;
      }
    }
  }
}
