<div class="div-header">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerMenu"
      aria-controls="navbarTogglerMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="#">
      <fa-icon class="check-icon" [icon]="['fas', 'university']" size="2x"></fa-icon>
    </a>

    <div class="collapse navbar-collapse row justify-content-end" id="navbarTogglerMenu">
      <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">{{'header.home' | transloco}} <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{'header.about' | transloco}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{'header.contact' | transloco}}</a>
        </li>
      </ul>
    </div>
  </nav>
</div>